/* Universal Styles */

body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* Top Header Nav Styles */
.top-nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: black;
  top: 0;
  z-index: 1;
}

.header-logo {
  height: 50px;
  margin-left: 10px;
}

nav {
  /* border: 1px solid red;  for debugging */
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-right: 20px;
  width: 400px;
}

header nav a{
  color: seashell;
}
/* End Top Header Nav Styles */

/* Begin Our Mission Header */

.hero-image {
  background-image: url("../resources/images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  display: inline-block;
  position: relative;
  top: 62px;
}

.our-mission {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 295px;
  height: 110px;
}

header h2 {
  margin-bottom: -20px;
}

/* End Our Mission Header */

/* Tea of the Month Styles */

.tea-month {
  position: relative;
  top: 60px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.tea-month h2 {
  margin-bottom: -20px;
}

.tea-items{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.tea-items img {
  padding-left: 25px;
}

.berry-blitz {
  height: 200px;
  width: 300px;
  margin-bottom: -20px;
}

.spiced-rum {
  height: 200px;
  width: 300px;
  margin-bottom: -20px;
}

.donuts {
  height: 200px;
  width: 300px;
  margin-bottom: -20px;
}

.myrtle-ave-tea {
  height: 200px;
  width: 300px;
  margin-bottom: -20px;
}

.bedford-bizarre {
  height: 200px;
  width: 300px;
  margin-bottom: -20px;
}

/* End Tea of the Month Styles */

/* Begin Locations Styles */

.location-background-image {
  background-image: url("../resources/images/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 62px;
}

#locations-section {
  /* border: 1px solid blue;  for debugging */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-left: auto;
   margin-right: auto;
}

.locations {
  /* border: 1px solid blue;  for debugging */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 980px;
  margin-top: -19px;
  margin-bottom: 80px;
}

.location-boxes {
  /* border: 1px solid blue;  for debugging */
  background-color: black;
  opacity: 1;
  width: 300px;
}

/* End Locations Styles */

/* Begin Footer Styles */
footer{
  height: 200px;
  width: 100%;
  position: relative;
  top: 60px;
}

#copyright {
  text-align: left;
  margin-left: 20px;
}

/* End Footer Styles */
