/* Universal Styles */

body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* Top Header Nav Styles */
.top-nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: black;
  top: 0;
  z-index: 1;
}

.header-logo {
  height: 50px;
  margin-left: 10px;
}

nav {
  /* border: 1px solid red;  for debugging */
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-right: 20px;
  width: 400px;
}

header nav a{
  color: seashell;
}
/* End Top Header Nav Styles */

/* Begin Our Mission Header */

.hero-image {
  background-image: url("../resources/images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  display: inline-block;
  position: relative;
  top: 62px;
}

.our-mission {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 295px;
  height: 110px;
}

header h2 {
  margin-bottom: -25px;
}

/* End Our Mission Header */

/* Footer Styles */
footer{
  height: 200px;
  width: 100%;
}
